
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Order System</a>
    <ul class="nav">
      <li><%= link_to 'Restaurants', root_path%></li>
      <li class='pull-right'><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>

    <span class='pull-right'>
      <span><%= link_to 'Register', register_path, class: 'btn btn-primary' %></span>
    </span>


  </div>
</div>
